# Formatting Dataset.

US dataset code is given as:

## <b> 1. US dataset formatter <b>.

In [1]:
import pandas as pd
import numpy as np

Data 1 dataset.

In [2]:
df1 = pd.read_csv('data1.csv')
df1.head()

,id,title,publication,author,date,year,month,url,content
0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Music",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

In [3]:
df1['publication'].value_counts()

Breitbart           23781
CNN                 11488
New York Times       7803
Business Insider     6757
Atlantic              171
Name: publication, dtype: int64

In [4]:
df = df1.loc[df1['publication'] == 'New York Times']
df.to_csv('Publications/NYT.csv',index = False)

In [5]:
df = df1.loc[df1['publication'] == 'CNN']
df.to_csv('Publications/CNN.csv',index = False)

In [6]:
df = df1.loc[df1['publication'] == 'Breitbart']
df.to_csv('Publications/Breitbart.csv',index = False)

Data 2 dataset.

In [7]:
df2 = pd.read_csv('data2.csv')
df2.head()

,id,title,publication,author,date,year,month,url,content
0,151908,Alton Sterling’s son: ’Everyone needs to prote...,Guardian,Jessica Glenza,2016-07-13,2016.0,7.0,https://www.theguardian.com/us-news/2016/jul/1...,The son of a Louisiana man whose father was sh...
1,151909,Shakespeare’s first four folios sell at auctio...,Guardian,NaN,2016-05-25,2016.0,5.0,https://www.theguardian.com/culture/2016/may/2...,Copies of William Shakespeare’s first four boo...
2,151910,My grandmother’s death saved me from a life of...,Guardian,Robert Pendry,2016-10-31,2016.0,10.0,https://www.theguardian.com/commentisfree/2016...,"Debt: $20, 000, Source: College, credit cards,..."
3,151911,I feared my life lacked meaning. Cancer pushed...,Guardian,Bradford Frost,2016-11-26,2016.0,11.0,https://www.theguardian.com/commentisfree/2016...,"It was late. I was drunk, nearing my 35th birt..."
4,151912,Texas man serving life sentence innocent of do...,Guardian,NaN,2016-08-20,2016.0,8.0,https://www.theguardian.com/us-news/2016/aug/2...,A central Texas man serving a life sentence fo...

In [8]:
df2['publication'].value_counts()

NPR                11992
Washington Post    11114
Reuters            10710
Vox                 4947
Guardian            3808
Name: publication, dtype: int64

In [9]:
df = df2.loc[df2['publication'] == 'NPR']
df.to_csv('Publications/NPR.csv',index = False)

In [10]:
df = df2.loc[df2['publication'] == 'Washington Post']
df.to_csv('Publications/WP.csv',index = False)

In [11]:
df = df2.loc[df2['publication'] == 'Reuters']
df.to_csv('Publications/Reuters.csv',index = False)