In [1]:
import numpy as numpy
import pandas as pd

In [47]:
df = pd.read_csv('TOI_new.csv')
df.head()

,publish_date,headline_category,headline_text,Label,Party,sent1
0,20120624,india,NCPCR seeks explanation from Haryana govt,3,1,neu
1,20170417,city.indore,HC on alleged Simhastha irregularities: Take i...,0,0,neu
2,20181014,city.bhopal,Rahul to visit Datia; Gwalior from Monday,0,0,neu
3,20170920,sports.football,Premier Futsal: Bengaluru Royals rout Mumbai W...,13,1,neu
4,20090824,city.mysuru,Assembly session will focus on people's proble...,3,1,neu

In [52]:
df['Party'].value_counts()

 1    664
 0    323
-1     12
Name: Party, dtype: int64